<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDoList</title>
    <link rel="stylesheet" href="./asset/css/style.css" />
  </head>
  <body>
    <div id="app">
      <h1>To Do List</h1>
      <input type="text" v-model="newText" />
      <button @click="addText">Aggiungi</button>
      <div>
        <div>
          <ul>
            <li v-for="text in textList" :key="text.done">{{text.list}}</li>
          </ul>
          <!--  <p >Non ci sono elementi</p> -->
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./asset/js/script.js"></script>
  </body>
</html>
